{% extends 'base.html.twig' %}

{% block title %}Lot{% endblock %}

{% block body %}
    <h1>Lot</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ lot.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ lot.nom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ lot.description }}</td>
            </tr>
            <tr>
                <th>Prix_depart</th>
                <td>{{ lot.prixDepart }}</td>
            </tr>
            <tr>
                <th>Isvendu</th>
                <td>{{ lot.isvendu ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <br>
    <br>

    <h3>Liste des produits</h3>

    <table class="table">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Description</th>
            <th>Etat</th>
            <th>Artiste</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td>{{ produit.nom }}</td>
                <td>{{ produit.description }}</td>
                <td>{{ produit.etat }}</td>
                <td>{{ produit.artiste }}</td>

                <td>
                    <a href="{{ path('produit_show', {'id': lot.id}) }}"><button type="button" class="btn btn-info"><i class="fas fa-eye"></i></button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    <h3>Faire une enchère</h3>
    {{ include('offre/_form.html.twig') }}
    <br>
    <br>

    <h3>Liste des enchères pour ce lots</h3>

    <table class="table">
        <thead>
        <tr>
            <th>OffreAcheteur</th>
            <th>Date</th>
            <th>Heure</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for offre in offres %}
            <tr>
                <td>{{ offre.OffreAcheteur }}</td>
                <td>{{ offre.date ? offre.date|date('Y-m-d') : '' }}</td>
                <td>{{ offre.heure ? offre.heure|date('H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('offre_show', {'id': offre.id}) }}"><button type="button" class="btn btn-info"><i class="fas fa-eye"></i></button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    <a href="{{ path('vente_show', {'id': vente.id}) }}"><button type="button" class="btn btn-primary"><i class="fas fa-arrow-left"></i> Retour</button></a>
{% endblock %}
